<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="BusinessModel" value="Russia" />
    <add key="EntryPointName" value="River.StateInitialization.ValidationRules" />
    <add key="TargetEnvironmentName" value="Dev" />
  </appSettings>
  <connectionStrings>
    <add name="Erm" connectionString="Data Source=uk-sql01;Initial Catalog=Erm21;Integrated Security=True;" providerName="SqlServer" />
    <add name="Ams" connectionString='{"targetTopic":"ams_okapi_prod.am.validity","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05","infoTimeout":"00:00:05"}' />
    <add name="Rulesets" connectionString='{"targetTopic":"vr_test_rulesets","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05","infoTimeout":"00:00:05","queued.max.messages.kbytes":"102400","queued.min.messages":"100"}'/>
    <add name="Facts" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules31;Integrated Security=True" providerName="SqlServer" />
    <add name="Aggregates" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules31;Integrated Security=True" providerName="SqlServer" />
    <add name="Messages" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules31;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <level value="DEBUG" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Confluent.Kafka.StrongName" publicKeyToken="12c514ca49093d1e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.4.0" newVersion="0.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
