<?xml version="1.0" encoding="utf-8" ?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <schedule>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>ArchivingJob</name>
      <group>Replication</group>
      <description>ArchivingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ArchivingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <cron>
        <name>Запуск ArchivingJob через cron</name>
        <group>Replication</group>

        <job-name>ArchivingJob</job-name>
        <job-group>Replication</job-group>

        <cron-expression>0 0 * * * ?</cron-expression>
        <time-zone>North Asia Standard Time</time-zone>
      </cron>
    </trigger>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>ReportingJob</name>
      <group>Replication</group>
      <description>ReportingJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ReportingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>Запуск ReportingJob через simpletrigger</name>
        <group>Replication</group>

        <job-name>ReportingJob</job-name>
        <job-group>Replication</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>
      </simple>
    </trigger>
    
    <!-- ==================================================================================================================================== -->
	  <job>
		  <name>FactsFlow</name>
		  <group>ValidationRules</group>
		  <description>FactsFlow</description>
		  <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

		  <durable>true</durable>
		  <recover>false</recover>
	  </job>

	  <trigger>
		  <simple>
			  <name>FactsFlow</name>
			  <group>ValidationRules</group>

			  <job-name>FactsFlow</job-name>
			  <job-group>ValidationRules</job-group>

			  <job-data-map>
				  <entry>
					  <key>BatchSize</key>
					  <value>500</value>
				  </entry>
				  <entry>
					  <key>Flow</key>
					  <value>FactsFlow</value>
				  </entry>
			  </job-data-map>

			  <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
			  <repeat-count>-1</repeat-count>
			  <repeat-interval>100</repeat-interval>

		  </simple>
	  </trigger>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>AggregatesFlow</name>
      <group>ValidationRules</group>
      <description>AggregatesFlow</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>AggregatesFlow</name>
        <group>ValidationRules</group>

        <job-name>AggregatesFlow</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>5000</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>AggregatesFlow</value>
          </entry>
        </job-data-map>

		    <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>500</repeat-interval>

      </simple>
    </trigger>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>MessagesFlow</name>
      <group>ValidationRules</group>
      <description>MessagesFlow</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.ProcessingJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>MessagesFlow</name>
        <group>ValidationRules</group>

        <job-name>MessagesFlow</job-name>
        <job-group>ValidationRules</job-group>

        <job-data-map>
          <entry>
            <key>BatchSize</key>
            <value>5000</value>
          </entry>
          <entry>
            <key>Flow</key>
            <value>MessagesFlow</value>
          </entry>
        </job-data-map>

        <misfire-instruction>RescheduleNowWithExistingRepeatCount</misfire-instruction>
        <repeat-count>-1</repeat-count>
        <repeat-interval>500</repeat-interval>

      </simple>
    </trigger>

    <!-- ==================================================================================================================================== -->
    <job>
      <name>HeartbeatJob</name>
      <group>ValidationRules</group>
      <description>HeartbeatJob</description>
      <job-type>NuClear.ValidationRules.Replication.Host.Jobs.HeartbeatJob, 2GIS.NuClear.ValidationRules.Replication.Host</job-type>

      <durable>true</durable>
      <recover>false</recover>
    </job>

    <trigger>
      <simple>
        <name>HeartbeatJob</name>
        <group>ValidationRules</group>

        <job-name>HeartbeatJob</job-name>
        <job-group>ValidationRules</job-group>

        <repeat-count>-1</repeat-count>
        <repeat-interval>10000</repeat-interval>

      </simple>
    </trigger>
    
  </schedule>
</job-scheduling-data>
