<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ErmEventsFlowTopic" value="topic.performedoperations.production.russia.import" />
    <add key="EntryPointName" value="River.Replication.ValidationRules" />
    <add key="TargetEnvironmentName" value="Dev" />
    <add key="MaxWorkingThreads" value="5" />
    <add key="JobStoreType" value="RAM" />
    <add key="MisfireThreshold" value="00:00:05" />
    <add key="SchedulerName" value="ReplicationService.ValidationRules.Scheduler.Dev" />
    <add key="LogstashUri" value="tcp://uk-erm-kibana02.2gis.local:8192" />
    <add key="SqlCommandTimeout" value="180" />
    <!-- in seconds -->
    <add key="ReplicationBatchSize" value="1000" />
    <add key="IdentityServiceUrl" value="https://identity.api.test.erm.2gis.ru" />
    <add key="ArchiveVersionsInterval" value="1.00:00:00" />
  </appSettings>
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm21;Integrated Security=True;Enlist=False;" />
    <add name="Facts" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ValidationRules;Integrated Security=True" />
    <add name="Aggregates" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ValidationRules;Integrated Security=True" />
    <add name="Messages" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ValidationRules;Integrated Security=True" />
    <add name="Logging" connectionString="http://logstash.prod.erm.2gis.ru:8194" />
    <add name="ServiceBus" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-Test21;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-Test21;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:05" />
    <add name="Infrastructure" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ErmInfrastructure;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <level value="DEBUG" />
    </root>
  </log4net>
</configuration>