<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ErmEventsFlowTopic" value="topic.performedoperations" />
    <add key="AmsFactsTopics" value="topic1" />
    <add key="EntryPointName" value="River.Replication.ValidationRules" />
    <add key="TargetEnvironmentName" value="Dev" />
    <add key="MaxWorkingThreads" value="10" />
    <add key="JobStoreType" value="RAM" />
    <add key="MisfireThreshold" value="00:00:05" />
    <add key="SchedulerName" value="ReplicationService.ValidationRules.Scheduler.Dev" />
    <add key="LogstashUri" value="tcp://logstash.erm.2gis.ru:8192" />
    <add key="SqlCommandTimeout" value="180" />
    <!-- in seconds -->
    <add key="ReplicationBatchSize" value="1000" />
    <add key="IdentityServiceUrl" value="https://identity.api.test.erm.2gis.ru" />
    <add key="ArchiveVersionsInterval" value="1.00:00:00" />
    <add key="EnableJobsRemoteControl" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm21;Integrated Security=True;Enlist=False;" />
    <add name="Ams" connectionString="{ 'bootstrap.servers': '10.154.14.42:9092' }" />
    <add name="Facts" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules21;Integrated Security=True" />
    <add name="Aggregates" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules21;Integrated Security=True" />
    <add name="Messages" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules21;Integrated Security=True" />
    <add name="Logging" connectionString="tcp://logstash.erm.2gis.ru:8192" />
    <add name="ServiceBus" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-Test21;StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-Test21;RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10" />
    <add name="Infrastructure" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ErmInfrastructure;Integrated Security=True" />
  </connectionStrings>
  <quartz>
    <add key="quartz.scheduler.exporter.type" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz" />
    <add key="quartz.scheduler.exporter.port" value="5657" />
    <add key="quartz.scheduler.exporter.bindName" value="QuartzScheduler" />
    <add key="quartz.scheduler.exporter.channelType" value="tcp" />
  </quartz>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <root>
      <level value="DEBUG" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Confluent.Kafka.StrongName" publicKeyToken="12c514ca49093d1e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.4.0" newVersion="0.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>