<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="BusinessModel" value="{Country}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="JobStoreType" value="TX"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TargetEnvironmentName" value="{EnvType}.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SchedulerName" value="ReplicationService.ValidationRules.Scheduler.{EnvType}.{EnvNum}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ErmEventsFlowTopic" value="{ErmEventsFlowTopic}"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnableJobsRemoteControl" value="true"
         xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Erm" connectionString="Data Source={DBHost};Initial Catalog=Erm{EnvNum};Integrated Security=True;Enlist=False"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Ams" connectionString='{"targetTopic":"{AmsFactsTopic}","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05","infoTimeout":"00:00:05"}'
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Rulesets" connectionString='{"targetTopic":"{RulesetsFactsTopic}","bootstrap.servers":"kafka1.c.n3.hw:9092,kafka2.c.n3.hw:9092,kafka3.c.n3.hw:9092","pollTimeout":"00:00:05","infoTimeout":"00:00:05","queued.max.messages.kbytes":"102400","queued.min.messages":"100"}'
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Facts" connectionString="Data Source={DBHost};Initial Catalog=ValidationRules{EnvNum};Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Aggregates" connectionString="Data Source={DBHost};Initial Catalog=ValidationRules{EnvNum};Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Messages" connectionString="Data Source={DBHost};Initial Catalog=ValidationRules{EnvNum};Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Logging" connectionString="tcp://logstash.erm.2gis.ru:8192"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="Infrastructure" connectionString="Data Source={DBHost};Initial Catalog=ErmInfrastructure;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="ServiceBus" connectionString="Endpoint=sb://uk-sql01.2gis.local/ERM-{EnvType}{EnvNum},sb://uk-erm-sql02.2gis.local/ERM-{EnvType}{EnvNum};StsEndpoint=https://uk-sql01.2gis.local:9355/ERM-{EnvType}{EnvNum},https://uk-erm-sql02.2gis.local:9355/ERM-{EnvType}{EnvNum};RuntimePort=9354;ManagementPort=9355;OperationTimeout=00:00:10"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint address="{ErmValidationUrl}" name="Erm"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <endpoint address="{RiverValidationUrl}" name="River"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </client>
  </system.serviceModel>
</configuration>