<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm31;Integrated Security=True;Enlist=False;" />
      <add name="Messages" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules34;Integrated Security=True" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrderValidationApplicationService" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                  <security mode="Transport">
                    <transport clientCredentialType="None" />
                  </security>
                </binding>
            </wsHttpBinding>
            <webHttpBinding>
                <binding name="WebHttpBinding_IRiverRestService" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                  <security mode="Transport">
                    <transport clientCredentialType="None" />
                  </security>
                </binding>
            </webHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="webEndpoint">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        
        <client>
          <!-- OBSOLETE endpoint после перевода всех тестов в данном проекте на режим без использования
          сервиса проверок заказов ERM следует удалить -->
            <endpoint address="https://order-validation31.api.test.erm.2gis.ru/Validate.svc/Soap"
                      binding="wsHttpBinding"
                      bindingConfiguration="WSHttpBinding_IOrderValidationApplicationService"
                      contract="ErmService.IOrderValidationApplicationService" 
                      name="Erm" />
          <!-- OBSOLETE endpoint после перевода всех тестов в данном проекте на режим без использования
          сервиса проверок заказов ERM следует удалить -->
            <endpoint address="https://validation34.api.test.erm.2gis.ru"
                      binding="webHttpBinding"
                      bindingConfiguration="WebHttpBinding_IRiverRestService"
                      behaviorConfiguration="webEndpoint"
                      contract="ValidationRules.Replication.Comparison.Tests.RiverService.IRiverRestService"
                      name="River" />
          <!-- тестируемый endpoint - для инстанса VR с изменениями,
          которые требуется проверить на функциональную экфивалентность  -->
          <endpoint address="https://validation31.api.test.erm.2gis.ru"
                    binding="webHttpBinding"
                    bindingConfiguration="WebHttpBinding_IRiverRestService"
                    behaviorConfiguration="webEndpoint"
                    contract="ValidationRules.Replication.Comparison.Tests.RiverService.IRiverRestService"
                    name="TestEnvironment" />
          <!-- "эталонный" endpoint - для инстанса VR без изменений,
          относительно которого требуется проверить на функциональную экфивалентность  -->
          <endpoint address="https://validation34.api.test.erm.2gis.ru"
                    binding="webHttpBinding"
                    bindingConfiguration="WebHttpBinding_IRiverRestService"
                    behaviorConfiguration="webEndpoint"
                    contract="ValidationRules.Replication.Comparison.Tests.RiverService.IRiverRestService"
                    name="EtalonEnvironment" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
