<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Erm" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=Erm21;Integrated Security=True;Enlist=False;" />
        <add name="ReferenceSource" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules21;Integrated Security=True" />
        <add name="Pipeline" providerName="System.Data.SqlClient" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules21;Integrated Security=True" />
    </connectionStrings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOrderValidationApplicationService" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
            <webHttpBinding>
                <binding name="WebHttpBinding_IRiverRestService" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00" sendTimeout="00:10:00">
                    <security mode="None" />
                </binding>
            </webHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="webEndpoint">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        
        <client>
            <endpoint address="http://order-validation21.api.test.erm.2gis.ru/Validate.svc/Soap" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOrderValidationApplicationService" contract="ErmService.IOrderValidationApplicationService" name="Erm" />
            <endpoint address="http://validation21.api.test.erm.2gis.ru" binding="webHttpBinding" bindingConfiguration="WebHttpBinding_IRiverRestService" behaviorConfiguration="webEndpoint" contract="ValidationRules.Replication.SingleCheck.Tests.RiverService.IRiverRestService" name="River" />
        </client>
    </system.serviceModel>
</configuration>
