<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Erm" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ErmRU;Integrated Security=True" providerName="SqlServer" />
    <add name="Facts" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ValidationRulesRU;Integrated Security=True" providerName="SqlServer" />
    <add name="Aggregates" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ValidationRulesRU;Integrated Security=True" providerName="SqlServer" />
    <add name="Messages" connectionString="Data Source=uk-sql20\erm;Initial Catalog=ValidationRulesRU;Integrated Security=True" providerName="SqlServer" />
  </connectionStrings>
</configuration>
