<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Erm" connectionString="Data Source=uk-sql01;Initial Catalog=Erm21;Integrated Security=True" providerName="SqlServer" />
    <add name="Facts" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules21;Integrated Security=True" providerName="SqlServer" />
    <add name="Aggregates" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules21;Integrated Security=True" providerName="SqlServer" />
    <add name="Messages" connectionString="Data Source=uk-sql01;Initial Catalog=ValidationRules21;Integrated Security=True" providerName="SqlServer" />
  </connectionStrings>
</configuration>
